body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-size: 2rem;
}

p{
  font-size: 25px;
}

hr{
  border-style: dotted;
  border-color: grey;
  border-bottom: none;
  width: 4%;
  border-width: 6px;
  margin: 100px auto;
}

.middle-container{
  margin: 100px auto;
}

.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

a{
  color: #1199E;
  font-family: 'Open Sans', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.bio{
  width: 50%;
  margin: auto;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}
.sahithi{
  height: 200px;
  width: 200px;
  border-radius: 100%
}

.web-development{
  height: 25%;
  width: 25%;
  float: left;
  margin-right: 35px;
}

.game-development{
  height: 25%;
  width: 25%;
  float: right;
  margin-left: 35px;
}
.data-science{
  height: 25%;
  width: 25%;
  float: left;
  margin-right: 35px;
}

.programming{
  height: 25%;
  width: 25%;
  float: right;
  margin-left: 35px;
}

.skill-row{
  width: 50%;
  text-align:left;
  margin: 100px auto;
}


h1 {
  color: #66BFBF;
  margin: 50px auto 0 auto;
  font-family: 'Dancing Script', cursive;
  font-size: 5.625rem;
}

h2 {
  color: #66BFBF;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5rem;
  padding-bottom: 10px;
}

h3{
  color: #11999E;
  font-family: 'Open Sans', sans-serif;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.btn {
  background: #11cdd4;
  background:  -webkit-gradient(top, #fefefe, #dddddd);
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background:  -webkit-gradient(top, #fefefe, #dddddd);
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
